@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to bottom, #202E2C, #1d847d);
    min-height: 100vh;
    margin: 0; /* Remueve el margen del body */
  }
  